$blue-x-light: #BBDCF5;
$blue-light: #2CAFE5;
$blue: #006CB7;
$blue-dark: #004A80;

$yellow-x-light: #FFF6DB;
$yellow-light: #FFFF62;
$yellow: #FFD500;
$yellow-dark: #EDBA00;

$red-x-light: #F9C4AE;
$red-light: #F3987A;
$red: #E3000B;
$red-dark: #9B0600;

$green-x-light: #C0DFC3;
$green-light: #9ACEA3;
$green: #00963E;
$green-dark: #006A2A;

$orange: #EE7500;
$black: #000000;
$white: #FFFFFF;

$text-1: $black;
$text-2: #525252;
$text-3: #808080;
$text-4: #B1B1B1;

$background-1: $white;
$background-2: #F5F5F5;
$background-3: #E0E0E0;