@import '../../../styles/colors.scss';

.round-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 50%;
  border: 2px solid $white;
  background-color: $background-2;

  img {
    width: 25%;
    height: 25%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(28%) saturate(20%) hue-rotate(309deg) brightness(105%) contrast(105%);
  }

  &:hover {
    border-color: $blue;
    cursor: pointer;

    img {
      filter: brightness(0) saturate(100%) invert(66%) sepia(91%) saturate(7441%) hue-rotate(188deg) brightness(84%) contrast(101%);
    }
  }
}

.back {
  border: 1px solid $black;

  img {
    filter: none
  }
}

.close {
  background-color: transparent;

  img {
    filter: none
  }

  &:hover {
    cursor: pointer;
    border: none;
    background-color: $background-2;

    img {
      filter: none;
    }
  }
}