@import '../../styles/colors.scss';

nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  gap: 24px;
  padding: 16px 197px;

  background-color: rgba($color: $background-1, $alpha: 0.6);

  &.menu-opened {
    display: none;
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    color: $blue;

    .category-button {
      background-image: url('src/assets/logos/menu-button-hover.svg');
    }
  }
}

.category-button {
  height: 40px;
  width: 40px;
  background-image: url('src/assets/logos/menu-button.svg');
  background-repeat: no-repeat;
}

.anchors {
  display: flex;

  .anchor {
    padding: 16px;
    text-decoration: none;
    color: $text-1;

    &:hover{
      cursor: pointer;
      color: $blue;
    }
  }

}

.menu-buttons {
  display: flex;
}

@media screen and (max-width: 767px) {
  nav {
    padding: 16px;
  }

  .anchors {
    display: none;
  }

  .menu-buttons {
    margin-left: 64px;
    flex-direction: row-reverse;
    >:first-child {
      display: none;
    }
  }

}