@import '../../../styles/colors.scss';

.menu-button {
  padding: 10px;
  height: 100%;

  &:hover {
    cursor: pointer;
    color: $blue;

    .button-img {
      filter: brightness(0) saturate(100%) invert(66%) sepia(91%) saturate(7441%) hue-rotate(188deg) brightness(84%) contrast(101%);
    }
  }
}